<header>
  <div class="title-container">
    <img
      src="https://theme.zdassets.com/theme_assets/2396980/aa03d47e31734c9bbc05b72079c988e06d3456a7.png"
      alt="Wabi Project"
      width="100px"
    />
    <div>
      <h1>Nested menu</h1>
      <h2>Prueba técnica Wabi</h2>
      <i>Thomas Cafaro Fernández</i>
    </div>
  </div>
</header>
<section>
  <p>Pulsa en el botón para abrir el menú.</p>
  <div class="nested-menu-container">
    <app-nested-menu
      [menuItems]="menuItems"
      [closingTimeout]="500"
      (itemClicked)="logItemClicked($event)"
    ></app-nested-menu>
  </div>
</section>
<section>
  <h3>Notas</h3>
  <p>
    <i
      >El menú está adaptado para dispositivos móviles a partir de 768px de
      ancho de pantalla.</i
    >
  </p>
  <p>
    <i
      >El componente NestedMenu tiene dos inputs configurables:
      <code>menuItems</code>, en el cual se definen las opciones (datos) del
      menú; y <code>closingTimeout</code>, en el cual se define el tiempo (en
      milisegundos) que pasa desde que el ratón deja de estar encima de una
      opción del menú hasta que este se cierra (para dar tiempo de margen al
      usuario a navegar por el menú sin cierres inesperados. Por defecto, 500
      ms).</i
    >
  </p>
  <p>
    <i
      >El componente NestedMenu también tiene un output,
      <code>itemClicked</code>, el cual define el comportamiento de cada opción
      del menú al ser pulsada. Es una función que se llama cada vez que se pulsa
      una opción del menú, pasando por parámetro el id del elemento pulsado.
      Actualmente, se usa una función que muestra en la consola el elemento
      pulsado.</i
    >
  </p>
</section>
